{% extends 'base.html' %}
{% load tz %}
{% load static %}
{% block title %}
Astrocore Messenger
{% endblock %}
{% block content %}
<div class="chat-page">
    <main class="container">
        <div class="row border">

            <div class="col-3 p-0 d-flex flex-column border-end" id="column-left">

                <div class="chatlist-header border-bottom bg-white d-flex align-items-center px-2"
                     style="height: 56px; min-height: 56px; flex-shrink: 0;">
                    <input type="text" id="user-search-input" class="form-control form-control-sm rounded-pill bg-light border-0"
                           placeholder="Поиск...">
                </div>
                 <div class="chatlist-body flex-grow-1 overflow-auto d-none" id="user-list">
                    <ul class="list-group m-0"></ul>
                </div>

                <div class="chatlist-body flex-grow-1 overflow-auto">
                    <ul id="chat-list" class="list-group m-0">
                    </ul>
                </div>

            </div>

            <div class="col-9 p-0 bg-light d-flex flex-column" id="column-right">

                <div id="chat-header" class="chat-header border-bottom bg-white d-flex align-items-center px-3"
                     style="height: 56px; min-height: 56px; flex-shrink: 0;">
                    <strong id="chat-title">Выберите чат</strong>
                </div>

                <div class="chat-body flex-grow-1 overflow-auto p-3" id="selected-chat">
                    <p class="m-2 text-muted text-center">Выберите чат, чтобы начать общение</p>
                </div>

                <div class="chat-input-section bg-white border-top p-2 d-flex gap-2 d-none align-items-end"
                     id="chat-input">
                      <textarea id="message-input"
                                class="form-control message-input"
                                rows="1"
                                spellcheck="true"
                                placeholder="Введите сообщение..."></textarea>
                    <button class="btn btn-dark send-button">Отправить</button>
                </div>

            </div>

        </div>
    </main>
</div>

<script>
    const CURRENT_USER_ID = {{ request.user.id }};
    const CURRENT_USERNAME = "{{ request.user.username }}";
</script>
<script src="{% static 'js/libsignal-protocol.js' %}"></script>
<script type="module" src="{% static 'js/main.js' %}"></script>
{% endblock %}